<template>
	<div class="itemError">
		<img :src="imgUrl" >
	</div>
</template>

<script>
	export default{
		data() {
			return{
				imgUrl: require('../../assets/500.jpg')
			}
		}
	}
</script>

<style lang="less" scoped>
	.itemError{
		img{
			width: 100%;
		}
		/deep/ .active_tab{
			display: none;
		}
	}
</style>
