<template>
  <div class="item">
    <div class="item-calendar">
      <div class="head-title">
        <div class="left-info">
          <span class="everyMounth">每月记录</span>
          <!-- <span class="motday">（{{new Date().getMonth() + 1}}月）</span> -->
        </div>
        <div class="right-info">
          <span>近30天数据</span>
        </div>
      </div>
      <Calendar
        ref="calendar"
        :style="{ height: autoHeight }"
        v-on:choseDay="clickDay"
        v-on:changeMonth="changeDate"
        :sundayStart="false"
        :agoDayHide="timestampStar"
        :futureDayHide="timestampend"
      ></Calendar>
      <!-- <calendarDate v-show="allDate" @changeNowDate="changeNowDate"></calendarDate> -->
      <!-- <van-calendar v-model="dayValue" @select="selectDay" :minDate="minDate" :maxDate="maxDate"
				:show-title="false" :show-subtitle="false" title="" color="#006AFE" :poppable="false"
				:show-confirm="false" :style="{ height: autoHeight }" first-day-of-week="6" /> -->
      <!-- <div class="line">
				<van-divider @click="fullScoll"
					:style="{ color: '#A1A6AC', borderColor: '#A1A6AC', padding: '0 16px' }">
					<van-icon color="#A1A6AC" :name="autoHeight == 'auto' ? 'arrow-up' : 'arrow-down'" />
				</van-divider>
			</div> -->
      <div class="clock-number">日打卡统计：{{ total }}次</div>
      <div class="clock-list">打卡记录</div>
      <div class="clock-list-step">
        <van-steps active="9999" direction="vertical" active-color="#7A8189">
          <van-list
            v-model="loading"
            :finished="finished"
            finished-text=""
            @load="onLoad"
            :immediate-check="false"
          >
            <van-step v-for="(item, index) in dataList" :key="index">
              <div class="clock-time">{{ item.createTime.split(" ")[1] }}</div>
              <div class="clock-address">
                <van-icon name="location-o" />
                {{ item.address }}
              </div>
            </van-step>
          </van-list>
          <van-empty description="没有更多了" v-if="dataList.length == '0'" />
          <!-- <van-step>
							<div class="clock-time">20:00:00</div>
							<div class="clock-address">
								<van-icon name="location-o" />
								福建省厦门市集美区后溪镇中国工商银行(厦门诚毅广场支行)
							</div>
						</van-step>
						<van-step>
							<div class="clock-time">20:00:00</div>
							<div class="clock-address">
								<van-icon name="location-o" />
								福建省厦门市集美区后溪镇中国工商银行(厦门诚毅广场支行)
							</div>
						</van-step> -->
        </van-steps>
      </div>
    </div>
  </div>
</template>

<script>
import Calendar from "vue-calendar-component";
import calendarDate from "../../components/calendar_date.vue";
export default {
  components: {
    Calendar,
    calendarDate,
  },
  data() {
    return {
      minDate: new Date(new Date().getFullYear(), new Date().getMonth(), -30),
      maxDate: new Date(
        new Date().getFullYear(),
        new Date().getMonth(),
        new Date().getDate()
      ),
      autoHeight: "auto",
      dayValue: "",
      nowMount: "",
      userInfo: JSON.parse(localStorage.getItem("userInfo")),
      clockDate: "",
      current: 1,
      loading: false,
      finished: false,
      list: [],
      dataList: [],
      total: 0,
      nowWeek: "",
      nowDate: "",
      nowTime: "",
      timestampStar: "0",
      timestampend: "0",
      allDate: true,
    };
  },
  methods: {
    fullScoll() {
      console.log(document.querySelectorAll(".wh_content_item > div"));
      let dateDom = document.querySelectorAll(".wh_content_item");
      let selectDate = document.querySelector(".wh_isToday").innerText;
      let arr = [];
      dateDom.forEach((item, index) => {
        arr.push(item.innerText);
      });

      console.log(arr);
      if (this.autoHeight == "auto") {
        this.autoHeight = "80px";
        //this.allDate = true
      } else {
        this.autoHeight = "auto";
        //this.allDate = false
      }
    },

    timestamp() {
      let dayTime = new Date(); //获取当前标准时间
      let todayTimeTamp = dayTime.getTime(); // 转为时间戳
      var datetime =
        dayTime.getFullYear() +
        "-" +
        (dayTime.getMonth() + 1) +
        "-" +
        dayTime.getDate(); //转换为yy-mm-dd格式

      let lw = new Date(dayTime - 1000 * 60 * 60 * 24 * 30); //最后一个数字30可改，30天的意思
      let lastY = lw.getFullYear();
      let lastM = lw.getMonth() + 1;
      let lastD = lw.getDate();
      let startThirtydate =
        lastY +
        "-" +
        (lastM < 10 ? "0" + lastM : lastM) +
        "-" +
        (lastD < 10 ? "0" + lastD : lastD); //三十天之前日期

      let beforeDate = new Date(startThirtydate); //将30天前时间转为标准时间格式
      let ts = beforeDate.getTime(); //30天前时间转为时间戳
      this.timestampStar = (ts / 1000).toFixed(0);
      this.timestampend = (todayTimeTamp / 1000).toFixed(0);
    },
    timestamp1(this_) {
      let dayTime = new Date(); //获取当前标准时间
      let todayTimeTamp = dayTime.getTime(); // 转为时间戳
      var datetime =
        dayTime.getFullYear() +
        "-" +
        (dayTime.getMonth() + 1) +
        "-" +
        dayTime.getDate(); //转换为yy-mm-dd格式

      let lw = new Date(dayTime - 1000 * 60 * 60 * 24 * 30); //最后一个数字30可改，30天的意思
      let lastY = lw.getFullYear();
      let lastM = lw.getMonth() + 1;
      let lastD = lw.getDate();
      let startThirtydate =
        lastY +
        "-" +
        (lastM < 10 ? "0" + lastM : lastM) +
        "-" +
        (lastD < 10 ? "0" + lastD : lastD); //三十天之前日期

      let beforeDate = new Date(startThirtydate); //将30天前时间转为标准时间格式
      let ts = beforeDate.getTime(); //30天前时间转为时间戳
      this_.timestampStar = (ts / 1000).toFixed(0);
      this_.timestampend = (todayTimeTamp / 1000).toFixed(0);
    },
    //选择日期
    selectDay(e) {
      //console.log(this.formatDate(e))
      this.current = 1;
      this.clockDate = this.formatDate(e);
      this.dataList = [];
      this.finished = false;
      this.loading = true;
      this.getList(this.formatDate(e));
    },
    formatDate(dateTime) {
      let date = new Date(dateTime);
      let YY = date.getFullYear() + "-";
      let MM =
        (date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1) + "-";
      let DD = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      let hh =
        (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ":";
      let mm =
        (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) +
        ":";
      let ss =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      return YY + MM + DD;
    },
    clickDay(data) {
      //document.querySelector('.wh_chose_day').style = 'background: none;color: #000'
      this.current = 1;
      this.dataList = [];
      this.finished = false;
      this.loading = true;
      let nowTime = data.split("/");
      let y = nowTime[0];
      let m = nowTime[1] < 10 ? "0" + nowTime[1] : nowTime[1];
      let d = nowTime[2] < 10 ? "0" + nowTime[2] : nowTime[2];
      let dd = y + "-" + m + "-" + d;
      let date = new Date();
      let YY = date.getFullYear() + "-";
      let MM =
        (date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1) + "-";
      let DD = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      let nowDate = YY + MM + DD;

      this.clockDate = dd;
      this.getList(this.clockDate);
      var domArr = document.getElementsByClassName("wh_item_date");
      for (let i = 0; i < domArr.length; i++) {
        if (domArr[i].style.cssText) {
          domArr[i].style.cssText = "";
        }
      }
      // for(let i=0;i< domArr.length;i++) {
      // 	if(domArr[i].className.indexOf('wh_isToday') !== -1){
      // 		domArr[i].style = 'background:none;color:#000';
      // 	}
      // }
    },
    //选中当前时间
    changeNowDate(value) {
      this.getList(value);
      console.log(value);
    },
    changeDate(data) {
      var domArr = document.getElementsByClassName("wh_item_date");
      for (let i = 0; i < domArr.length; i++) {
        if (domArr[i].style.cssText) {
          domArr[i].style.cssText = "";
        }
      }
      this.current = 1;
      this.dataList = [];
      this.finished = true;
      this.loading = false;
      this.total = "0";
      this.clockDate = "";
      // let nowTime = data.split("/")
      // let y = nowTime[0]
      // let m = nowTime[1] < 10 ? '0' + nowTime[1] : nowTime[1]
      // let d = nowTime[2] < 10 ? '0' + nowTime[2] : nowTime[2]
      // let dd = y + '-' + m + '-' + d
      // let date = new Date();
      // let YY = date.getFullYear() + '-';
      // let MM = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
      // let DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
      // let nowDate = YY + MM + DD;

      // setTimeout(() => {
      // 	if(m != MM.replace("-","")) {
      // 		var domArr = document.getElementsByClassName("wh_want_dayhide");
      // 		for (let i = 0; i < domArr.length; i++) {
      // 			if(domArr[i].style.borderRadius == '50%') {
      // 				domArr[i].style = 'background: none !important;'
      // 				console.log(1)
      // 			}
      // 			// else{
      // 			// 	if(domArr[i].style.color = 'rgb(0, 0, 0)') {
      // 			// 		domArr[i].style.color = '#bfbfbf'
      // 			// 	}
      // 			// }

      // 		}

      // 	}else{
      // 		var arr = document.getElementsByClassName("wh_isToday");
      // 		var isChoosDate = document.getElementsByClassName("wh_item_date");
      // 		arr[0].style = 'background: #006AFE !important;color:#fff;border-radius: 50%;'
      // 		var domArr = document.getElementsByClassName("wh_want_dayhide");
      // 		for (let i = 0; i < isChoosDate.length; i++) {
      // 			if(isChoosDate[i].className.indexOf('wh_chose_day') !== -1) {
      // 				var arr = document.getElementsByClassName("wh_isToday");
      // 				//arr[0].style = 'background: none !important;color: #000'
      // 				console.log(2)
      // 			}

      // 		}
      // 	}

      // },30)
      //this.getList(dd)
      // setTimeout(() => {
      // 	var arr = document.getElementsByClassName("wh_isToday");

      // 	if(arr.length > 0) {
      // 		if(dd == nowDate) {
      // 			arr[0].style = 'background: #006AFE !important;color:#fff;border-radius: 50%;'
      // 			var domArr = document.getElementsByClassName("wh_chose_day");

      // 			for(let i=0;i<domArr.length;i++) {
      // 				if(domArr[i].style.borderRadius == '50%') {
      // 					domArr[i].style = 'background: none'
      // 				}

      // 			}
      // 		}else{
      // 			arr[0].style = 'background: none !important;color:#bfbfbf;'
      // 		}
      // 	}else{

      // 		//if(dd > nowDate) {
      // 			var domArr = document.getElementsByClassName("wh_want_dayhide");
      // 			for(let i=0;i<domArr.length;i++) {
      // 				if(domArr[i].style.borderRadius == '50%') {
      // 					domArr[i].style = 'background: none !important;color:#bfbfbf;'
      // 				}

      // 			}
      // 		//}
      // 	}
      // },10)
    },
    clickToday(data) {
      console.log(data); // 跳到了本月
    },
    onLoad() {
      if (this.clockDate) {
        this.getList1(this.clockDate, this);
      }
    },
    getList(nowDate) {
      let params = {
        userId: this.userInfo.userid,
        clockDate: nowDate,
        current: this.current,
        size: "10",
      };
      //alert(JSON.stringify(params))
      this.$api
        .clockList(params)
        .then((res) => {
          if (res.code == "200") {
            this.current++;
            this.total = res.result.total;
            this.dataList = this.dataList.concat(res.result.records);
            // alert(this.total)
            // 如果加载完毕，显示没有更多了
            this.loading = false;
            if (res.result.records.length === 0) {
              this.finished = true;
            } else {
              this.finished = false;
            }
          } else {
            this.dataList = [];
          }
        })
        .then((error) => {
          console.log(error);
        });
    },
    getList1(nowDate, this_) {
      let params = {
        userId: this_.userInfo.userid,
        clockDate: nowDate,
        current: this_.current,
        size: "10",
      };
      this_.$api
        .clockList(params)
        .then((res) => {
          if (res.code == "200") {
            this_.current++;
            this_.total = res.result.total;
            this_.dataList = this_.dataList.concat(res.result.records);
            // alert(JSON.stringify(res.result.records));
            // 如果加载完毕，显示没有更多了
            this_.loading = false;
            if (res.result.records.length === 0) {
              this_.finished = true;
            } else {
              this.finished = false;
            }
          } else {
            this_.dataList = [];
          }
        })
        .then((error) => {
          console.log(error);
        });
    },

    init(this_) {
      this_.current = 1;
      this_.dataList = [];
      this_.finished = true;
      this.loading = false;
      this_.timestamp1(this_);
      let date = new Date();
      let YY = date.getFullYear() + "-";
      let MM =
        (date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1) + "-";
      let DD = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      setTimeout(() => {
        let domArr = document.getElementsByClassName("wh_item_date");
        for (let i = 0; i < domArr.length; i++) {
          let val =
            domArr[i].innerHTML < 10
              ? "0" + domArr[i].innerHTML
              : domArr[i].innerHTML;
          if (val == DD) {
            domArr[i].style =
              "background: #006AFE;color:#fff;border-radius: 50%;";
          }
        }
      }, 30);
      this_.clockDate = YY + MM + DD;
      this_.getList1(this_.clockDate, this_);
    },
  },
  beforeRouteEnter: (to, from, next) => {
    next((vm) => {
      console.log("5645465465");
      vm.init(vm);
    });
  },
  created() {},
  mounted() {
    // this.timestamp();
    // let date = new Date();
    // let YY = date.getFullYear() + "-";
    // let MM =
    //   (date.getMonth() + 1 < 10
    //     ? "0" + (date.getMonth() + 1)
    //     : date.getMonth() + 1) + "-";
    // let DD = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
    // setTimeout(() => {
    //   let domArr = document.getElementsByClassName("wh_item_date");
    //   for (let i = 0; i < domArr.length; i++) {
    //     let val =
    //       domArr[i].innerHTML < 10
    //         ? "0" + domArr[i].innerHTML
    //         : domArr[i].innerHTML;
    //     if (val == DD) {
    //       domArr[i].style =
    //         "background: #006AFE !important;color:#fff;border-radius: 50%;";
    //     }
    //   }
    // }, 30);
    // this.clockDate = YY + MM + DD;
    // this.getList(this.clockDate);
  },
};
</script>

<style lang="less" scoped>
.item-calendar {
  padding: 16px;
  box-shadow: 0 2px 4px 0 rgba(221, 221, 221, 0.2);
  border-radius: 12px;
  background-color: #ffffff;
  /deep/ .van-calendar__day {
    height: 54px;
  }

  .head-title {
    display: flex;
    background-color: #ffffff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 24px 0 21px 0;

    div {
      flex: 1;

      .everyMounth {
        font-family: PingFangSC-Semibold;
        font-size: 17px;
        color: #191f25;
        line-height: 22px;
        padding-left: 20px;
      }

      .motday {
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: rgba(25, 31, 37, 0.4);
        letter-spacing: -0.22px;
      }
    }

    .right-info {
      text-align: right;

      span {
        padding-right: 20px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: rgba(25, 31, 37, 0.28);
        letter-spacing: 0;
        line-height: 16px;
      }
    }
  }

  /deep/.wh_container {
    max-width: 100%;
    height: 80px;
    overflow: hidden;
  }

  /deep/ .wh_content {
    padding: 0 1%;
  }

  /deep/.wh_content_all {
    background-color: #ffffff;
    padding-bottom: 0;
  }

  /deep/.wh_top_changge li {
    // display: none;
    color: #000;
    font-size: 14px;
    height: 32px;
  }

  /deep/ .wh_jiantou2 {
    border-top: 2px solid #000;
    border-right: 2px solid #000;
  }

  /deep/ .wh_jiantou1 {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
  }

  /deep/ .wh_content_item {
    color: #000;
    width: 14.285714285714286%;
  }

  .clock-number {
    font-family: PingFangSC-Semibold;
    font-size: 17px;
    color: #191f25;
    letter-spacing: -0.41px;
    line-height: 22px;
    text-indent: 20px;
    padding-top: 14px;
    padding-bottom: 16px;
  }

  .clock-list {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    text-indent: 20px;
    color: rgba(25, 31, 37, 0.4);
    letter-spacing: -0.26px;
    padding-bottom: 24px;
  }

  .clock-list-step {
    .clock-time {
      font-family: PingFangSC-Medium;
      font-size: 18px;
      color: #191f25;
      letter-spacing: 0;
      line-height: 18px;
      padding-bottom: 9px;
    }

    .clock-address {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: rgba(25, 31, 37, 0.4);
      letter-spacing: -0.4px;
      line-height: 18px;
      padding-bottom: 43px;
    }
  }

  /deep/ .van-step__circle {
    width: 11px;
    height: 11px;
  }

  /deep/ .van-step--vertical:not(:last-child)::after {
    border-bottom-width: 0;
  }
}

/deep/.van-calendar__header {
  box-shadow: none;
}

/deep/ .van-calendar {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/deep/ .van-calendar__month-title {
  display: none;
}
/deep/.wh_content_item .wh_want_dayhide{
  color: #bfbfbf !important;
  background: none !important;
}
/deep/.wh_content_item .wh_other_dayhide{
  color: #bfbfbf !important;
  background: none !important;
}
</style>
