<template>
  <div class="daka">
    <div class="userinfo">
      <div class="userface">
        <img
          src="https://img.alicdn.com/tfs/TB1yIubM6DpK1RjSZFrXXa78VXa-144-144.png"
        />
      </div>
      <div class="username">李和平</div>
      <div class="userright">打卡工作要求</div>
    </div>
    <!-- <div class="cardbox">
      <div class="today-clock">今日已打卡 28 次</div>
      <div class="cardbody">
        <div class="clock-btn">签到打卡</div>
        <div class="clock-time">16:54:31</div>
      </div>
      <div class="address">
        <i class="icon-home"></i>
        福建省厦门市集美区后溪镇中国工商银行(厦门诚毅广场支行)
        <button>重新获取</button>
      </div>
    </div> -->
    <div class="cardbox">
      <div class="cardbody no-clock">
        <div class="clock-btn">无法打卡</div>
        <div class="clock-time">16:54:31</div>
      </div>
      <div class="address">
        <i class="icon-home"></i>位置信息定位失败<button>重新获取</button>
      </div>
    </div>
    <van-tabbar v-model="active" class="active_tab">
      <van-tabbar-item
        v-for="(item, index) in tabbars"
        :key="index"
        @click="tab(index, item.name)"
      >
        <span :class="currIndex == index ? active : ''">{{ item.title }}</span>
        <template slot="icon" slot-scope="props">
          <img :src="props.active ? item.active : item.normal" />
        </template>
      </van-tabbar-item>
    </van-tabbar>
  </div>
</template>
<script>
// @ is an alias to /src
export default {
  name: "daka",
  data() {
    return {
      currIndex: 0,
      active: 0,
      tabbars: [
        {
          name: "home",
          title: "打卡",
          normal: require("../../assets/logo.png"),
          active: require("../../assets/logo.png"),
        },
        {
          name: "category",
          title: "打卡记录",
          normal: require("../../assets/logo.png"),
          active: require("../../assets/logo.png"),
        },
      ],
    };
  },
  components: {},
  methods: {
    tab(index, val) {
      this.currIndex = index;
      this.$router.push(val);
    },
  },
};
</script>
<style scoped lang="less">
.daka {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: #f6f6f6;
  font-size: 100px;
}
.userinfo {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(221, 221, 221, 0.2);
  border-radius: 12px;
  border-radius: 12px;
  margin: 16px;
  padding: 16px;
  display: flex;
}
.userface {
  float: left;
  img {
    height: 40px;
    width: 40px;
    float: left;
  }
}
.userface {
  display: inline-block;
}
.username {
  font-family: PingFangSC-Regular;
  font-size: 17px;
  color: #191f25;
  letter-spacing: -0.41px;
  line-height: 40px;
  margin-left: 6px;
}
.userright {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #3296fa;
  letter-spacing: -0.22px;
  line-height: 40px;
  position: absolute;
  right: 32px;
}
.cardbox {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(221, 221, 221, 0.2);
  border-radius: 12px;
  margin: 16px;
  text-align: center;
  position: relative;
  overflow: hidden;
  .today-clock {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #191f25;
    letter-spacing: -0.42px;
    line-height: 22px;
    position: absolute;
    top: 70px;
    left: 103px;
  }
  .cardbody {
    height: 136px;
    width: 136px;
    border-radius: 136px;
    text-align: center;
    background: #3296fa;
    box-shadow: 0 4px 12px 0 rgba(5, 105, 254, 0.4),
      inset 0 4px 20px 0 rgba(88, 164, 243, 0.2), inset 0 -16px 30px 0 #0569fe;
    overflow: hidden;
    margin: 116px auto 18px;
    .clock-btn {
      font-family: PingFangSC-Medium;
      font-size: 20px;
      color: #ffffff;
      letter-spacing: -0.32px;
      line-height: 20px;
      margin-top: 50px;
      margin-bottom: 4px;
    }
    .clock-time {
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #ffffff;
      letter-spacing: -0.26px;
      line-height: 16px;
    }
  }
  .no-clock {
    background: #b2b9c7;
    box-shadow: 0 4px 12px 0 rgba(145, 152, 168, 0.4),
      inset 0 4px 16px 0 rgba(202, 209, 219, 0.2), inset 0 -10px 24px 0 #9198a8;
  }
  .address {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(25, 31, 37, 0.4);
    letter-spacing: -0.6px;
    line-height: 18px;
    padding: 0 20px;
    margin-bottom: 127px;
    i {
      margin-right: 8px;
    }
    button {
      background: none;
      border: 0;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #3296fa;
      letter-spacing: -0.6px;
      text-align: center;
      line-height: 18px;
    }
  }
  .van-tabbar {
    height: 50px;
  }
}
</style>
