<template>
	<div class="item">
		<div class="wrap">
			<div class="title">签到工作要求</div>
			<div class="sign-title">
				签到工作要求正文签到工作要求正文签到工作要求正文签到工作要求正文签到工作要求正文签到工作要求正文签到工作要求正文签到工作要求正文签到工作要求正文签到工作要求正文签到工作要求正文签到工作要求正文
			</div>
		</div>
	</div>
</template>

<script>
</script>

<style lang="less" scoped>
	.item{
		height: 100vh;
		background-color: #ffffff;
		.wrap{
			padding: 24px 20px;
			.title{
				font-family: PingFangSC-Semibold;
				font-size: 20px;
				color: #191F25;
				letter-spacing: -0.83px;
				line-height: 24px;
			}
			.sign-title{
				font-family: PingFangSC-Regular;
				font-size: 14px;
				color: rgba(25,31,37,0.40);
				letter-spacing: 0;
				line-height: 22px;
				padding-top: 13px;
			}
		}
	}
</style>
