<template>
  <div class="home">
    <!-- <div @click="toClock">去打卡</div>
		
		<van-button type="primary" block @click="getLocation">获取位置</van-button> -->

    <div class="daka">
      <div class="userinfo">
        <div class="userface">
          <img :src="userInfo.avatar ? userInfo.avatar : headAvater" />
        </div>
        <div class="username">{{ userInfo.name }}</div>
        <!-- <div class="userright" @click="toDemand">打卡工作要求</div> -->
      </div>

      <div class="cardbox" v-show="!toggleClock">
        <div class="today-clock" v-show="allClock">今日已打卡{{ count }}次</div>
        <!-- {{userInfo}} {{lat}} {{lng}} -->
        <div class="cardbody" @click="clickDaka">
          <div class="clock-btn">签到打卡</div>
          <div class="clock-time">{{ nowDate }}</div>
        </div>
        <div class="address">
          <img class="locationIcon" :src="location" alt="" />
          {{ address }}
          <button @click="getLocationNext">重新获取</button>
        </div>
      </div>

      <div class="cardbox" v-show="toggleClock">
        <div class="cardbody no-clock">
          <div class="clock-btn">无法打卡</div>
          <div class="clock-time">{{ nowDate }}</div>
        </div>
        <div class="address">
          <img
            class="locationIcon"
            :src="location"
            alt=""
          />位置信息定位失败<button @click="getLocationNext">重新获取</button>
        </div>
      </div>
    </div>
    <van-popup v-model="show" position="bottom" :style="{ height: '100%' }">
      <div class="popdiv">
        <div class="pop-head" @click="closePop">
          <span class="pop-title">打卡成功</span>
          <van-icon class="pop-close" name="cross" />
        </div>
        <div class="clock-time">打卡时间 {{ nowHours }}</div>
        <div class="clockSuccess">
          <van-empty
            class="custom-image"
            :image="clockSuccess"
            description=""
          />
        </div>
        <div class="lookClockInfo" @click="toClockInfo">
          <span>查看打卡结果</span>
        </div>
      </div>
    </van-popup>
    <div class="loding" v-show="isGetLocation">
      <van-loading type="spinner" size="36" color="#ffffff" vertical
        >获取位置中...</van-loading
      >
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from "axios";
import * as dd from "dingtalk-jsapi";
import util from "../utils/util.js";
export default {
  name: "Home",
  data() {
    return {
      userInfo: {
        avatar: "",
        name: "",
        userid: "",
        mobile: "",
      }, //JSON.parse(localStorage.getItem('userInfo')),
      toggleClock: true,
      show: false,
      address: "",
      lng: "",
      lat: "",
      nowDate: "",
      location: require("../assets/location.svg"),
      headAvater: require("../assets/avater.svg"),
      clockSuccess: require("../assets/clocksuccess.png"),
      allClock: false,
      clockTime: "",
      count: 0,
      nowHours: "00:00",
      isClock: 0,
      config: null,
      isGetLocation: false,
    };
  },
  components: {},
  methods: {
    toClock() {
      this.$router.push({
        path: "/colckHome",
      });
    },
    closePop() {
      this.show = false;
    },

    getLocationNext() {
      let self = this;
      //self.$toast('点击重新获取位置信息！')
      //alert(9)
      self.address = "";
      self.lng = "";
      self.lat = "";
      // self.$toast.loading({
      // 	message: '获取位置中...',
      // 	forbidClick: true,
      // });
      self.isGetLocation = true;
      if (self.lng && self.lat && self.address) {
        //alert(13 + JSON.stringify(res))
        self.toggleClock = false;
      } else {
        //alert(14 + JSON.stringify(res))
        self.toggleClock = true;
      }
      //alert(99)
      dd.ready(() => {
        //self.$toast('进入获取位置薪')
        dd.device.geolocation.get({
          targetAccuracy: 100,
          coordinate: 1,
          withReGeocode: true,
          useCache: false,
          onSuccess: function (res) {
            //self.$toast('获取位置信息成功！')
            if (res.longitude && res.latitude) {
              if (!res.address) {
                axios
                  .get(
                    "https://restapi.amap.com/v3/geocode/regeo?key=a143a621e2c836d0b51400d2437052b4&location=" +
                      res.longitude +
                      "," +
                      res.latitude +
                      ""
                  )
                  .then((result) => {
                    if (result.data.status == "1") {
                      self.isGetLocation = false;
                      self.toggleClock = false;
                      self.address = result.data.regeocode.formatted_address;
                      self.lng = res.longitude;
                      self.lat = res.latitude;
                      // alert('逆地址解析地址：' + JSON.stringify(result.data.regeocode.formatted_address))
                    } else {
                      self.toggleClock = true;
                      self.isGetLocation = false;
                      self.$toast("获取位置信息失败！");
                    }
                  })
                  .catch((err) => {
					  self.toggleClock = true;
                      self.isGetLocation = false;
                      self.$toast("获取位置信息失败！");
                    // console.log(err);
                  });
              } else {
                // alert("钉钉接口返回的地址：" + JSON.stringify(res.address))
                self.isGetLocation = false;
                self.toggleClock = false;
                self.address = res.address;
                self.lng = res.longitude;
                self.lat = res.latitude;
              }
            } else {
              self.toggleClock = true;
              self.isGetLocation = false;
			  self.$toast("获取位置信息失败！");
            }
          },
          onFail: function (err) {
            // 调用失败时回调
            //alert(1 + JSON.stringify(err))
            self.toggleClock = true;
            self.isGetLocation = false;
            self.$toast("获取位置信息失败！");
            console.log(err);
          },
        });
      });
      dd.error((error) => {
        self.isGetLocation = false;
      });
    },
    getDDConfig() {
      let self = this;
      setInterval(() => {
        self.getCurrentTime();
      }, 1000);
      //self.$toast('进入获取config')
      //alert(1)
      self.$api
        .getConfig({})
        .then((res) => {
          if (res.code == "200") {
            self.config = JSON.stringify(res.result);
            //localStorage.setItem('config', JSON.stringify(res.result))
            //self.$toast(JSON.stringify(res.result)+'获取config')
            //alert(2)

            let corpId = res.result.corpId;
            if (dd.env.platform !== "notInDingTalk") {
              dd.ready(function () {
                dd.runtime.permission.requestAuthCode({
                  corpId: corpId, // 企业id
                  onSuccess: function (info) {
                    //self.$toast('获取code' + JSON.stringify(info))
                    //alert(3)
                    //localStorage.setItem('authCode',info.code)
                    axios
                      .post("/dd/login?authCode=" + info.code)
                      .then((res) => {
                        if (res.data.code == "200") {
                          //alert(4)
                          localStorage.setItem(
                            "userInfo",
                            JSON.stringify(res.data.result)
                          );
                          //self.userInfo = res.data.result
                          self.userInfo.avatar = res.data.result.avatar;
                          self.userInfo.name = res.data.result.name;
                          self.userInfo.userid = res.data.result.userid;
                          self.userInfo.mobile = res.data.result.mobile;
                          //alert(5)
                          self.getLocation();
                          //self.$toast('成功获取用户信息'+JSON.stringify(res.data.result))
                        }
                      })
                      .catch((err) => {
                        console.log(err);
                      });
                    //code = info.code // 通过该免登授权码可以获取用户身份
                    //setTimeout(() => {
                    //self.getUser(info.code)
                    //}, 1000)
                  },
                  onFail: function (err) {
                    //alert('获取code失败')
                    self.$toast("获取用户信息失败，请稍后重新获取");
                  },
                });
              });
            } else {
              self.toggleClock = true;
            }
          }
        })
        .catch((error) => {
          self.toggleClock = true;
          console.log(error);
        });
    },
    getLocation() {
      let self = this;
      //self.$toast('初始化获取用户位置信息')
      //alert(6)
      // if (self.lng == '' || self.lat == '' || self.address) {
      // 	self.toggleClock = true
      // } else {
      // 	self.toggleClock = false
      // }
      let config = self.config; // || localStorage.getItem('config')
      //self.$toast('拿到config'+ config)
      //alert(7)
      dd.config({
        ...JSON.parse(config),
        jsApiList: ["device.geolocation.get"],
        onSuccess: function (res) {
          //self.$toast('获取位置成功'+ JSON.stringify(res))
          //alert(8)
          if (dd.env.platform !== "notInDingTalk") {
            dd.ready(() => {
              dd.device.geolocation.get({
                targetAccuracy: 100,
                coordinate: 1,
                withReGeocode: true,
                useCache: false,
                onSuccess: function (res) {
                  // 调用成功时回调
                  //self.$toast('获取位置信息成功！'+ JSON.stringify(res))
                  //alert(9)
                  //self.toggleClock = false
                  //alert(JSON.stringify(res))
                  if (res.longitude && res.latitude && res.address) {
                    //alert(11+JSON.stringify(res))
                    self.toggleClock = false;
                  } else {
                    //alert(12+JSON.stringify(res))
                    self.toggleClock = true;
                  }
                  self.address = res.address;
                  self.lng = res.longitude;
                  self.lat = res.latitude;
                },
                onFail: function (err) {
                  // 调用失败时回调
                  self.$toast("获取位置信息失败！");
                },
              });
            });
            dd.error((error) => {
              console.log(error);
            });
          }

          //获取位置信息
          // dd.ready(function() {
          // 	dd.device.geolocation.get({
          // 		targetAccuracy: 200,
          // 		coordinate: 1,
          // 		withReGeocode: true,
          // 		useCache: false,
          // 		onSuccess: function(res) {
          // 			self.$toast('获取位置成功！')
          // 			//alert(6)
          // 			// 调用成功时回调
          // 			//self.$toast('成功获取用户位置信息' + JSON.stringify(res));
          // 			// if(res.address !== '') {
          // 			// 	this.toggleClock = false
          // 			// }else{
          // 			// 	this.toggleClock = true;
          // 			// }
          // 			self.toggleClock = false
          // 			self.address = res.address
          // 			self.lng = res.longitude
          // 			self.lat = res.latitude
          // 			//alert('dd.device')
          // 			// fetch(host + '/address', {
          // 			// 		method: 'POST',
          // 			// 		headers: {
          // 			// 			'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
          // 			// 			'Access-Control-Allow-Origin': '*'
          // 			// 		},
          // 			// 		mode: 'cors',
          // 			// 		body: 'address=' + res.result.address,
          // 			// 	})
          // 			// 	.then(res => res.json())
          // 			// 	.then((result) => {

          // 			// 	});
          // 		},
          // 		onFail: function(err) {
          // 			// 调用失败时回调
          // 			self.toggleClock = true;
          // 			self.$toast('获取用户位置失败' + JSON.stringify(err));
          // 			console.log(err)
          // 		}
          // 	});
          // })
        },
        onFail: function (res) {
          console.log("fail: " + JSON.stringify(res));
        },
      });
    },

    toClockInfo() {
      this.show = false;
      setTimeout(() => {
        this.$router.push({
          path: "/colckHome",
        });
      }, 800);
    },
    getCurrentTime() {
      //获取当前时间
      var _this = this;
      let yy = new Date().getFullYear();
      let mm = new Date().getMonth() + 1;
      let dd = new Date().getDate();
      let hh = new Date().getHours();
      let mf =
        new Date().getMinutes() < 10
          ? "0" + new Date().getMinutes()
          : new Date().getMinutes();
      let ss =
        new Date().getSeconds() < 10
          ? "0" + new Date().getSeconds()
          : new Date().getSeconds();
      _this.nowDate = hh + ":" + mf + ":" + ss;
      //_this.clockTime = yy + '-' + mm + '-' + dd
    },
    //点击打卡
    clickDaka() {
      if (this.isClock > 0) {
        this.$toast("15秒内不能再次打卡哦");
        return;
      }
      let params = {
        userId: this.userInfo.userid,
        lng: this.lng,
        lat: this.lat,
        address: this.address,
      };
      //alert(JSON.stringify(params))
      this.$api
        .toClock(params)
        .then((res) => {
          if (res.code == "200") {
            this.$toast("打卡成功");
            this.getCount();
            let hh = new Date().getHours();
            let mf =
              new Date().getMinutes() < 10
                ? "0" + new Date().getMinutes()
                : new Date().getMinutes();
            this.nowHours = hh + ":" + mf;
            this.isClock = 15;
            this.getTimeDown();

            //this.$toast(res.message);
            this.count = this.count + 1;
            this.show = true;
            this.allClock = true;
          } else {
            this.$toast("打卡失败");
            this.show = false;
            //this.$toast(res.message);
          }
          //alert(JSON.stringify(res))
        })
        .catch((err) => {
          this.$toast(JSON.stringify(err));
        });
    },
    getTimeDown() {
      this.show = false;
      this.timer = setInterval(() => {
        this.isClock--;
        if (this.isClock === 0) {
          clearInterval(this.timer);
        }
      }, 1000);
    },
    //打卡次数
    getCount() {
      let yy = new Date().getFullYear();
      let mm = new Date().getMonth() + 1;
      let dd = new Date().getDate();
      let params = {
        userId:
          this.userInfo.userid ||
          JSON.parse(localStorage.getItem("userInfo")).userid,
        clockTime: yy + "-" + mm + "-" + dd,
      };
      //alert(JSON.parse(localStorage.getItem('userInfo')).userid)
      this.$api
        .clockCount(params)
        .then((res) => {
          //alert(JSON.stringify(res))
          if (res.code == "200") {
            this.count = res.result;
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    //打卡工作要求
    toDemand() {
      this.$router.push({
        path: "/demand",
      });
    },
  },
  created() {},
  beforeRouteEnter(to, form, next) {
    next((vm) => {
      vm.show = false;
    });
  },
  mounted() {
    this.show = false;
    this.getDDConfig();
  },
};
</script>

<style scoped lang="less">
.daka {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: #f6f6f6;
  font-size: 100px;
}

.userinfo {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(221, 221, 221, 0.2);
  border-radius: 12px;
  border-radius: 12px;
  margin: 16px;
  padding: 16px;
  display: flex;
}

.userface {
  float: left;

  img {
    height: 40px;
    width: 40px;
    float: left;
  }
}

.userface {
  display: inline-block;
}

.username {
  font-family: PingFangSC-Regular;
  font-size: 17px;
  color: #191f25;
  letter-spacing: -0.41px;
  line-height: 40px;
  margin-left: 6px;
}

.userright {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #3296fa;
  letter-spacing: -0.22px;
  line-height: 40px;
  position: absolute;
  right: 32px;
  cursor: pointer;
}

.cardbox {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(221, 221, 221, 0.2);
  border-radius: 12px;
  margin: 16px;
  text-align: center;
  position: relative;
  overflow: hidden;

  .today-clock {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #191f25;
    letter-spacing: -0.42px;
    line-height: 22px;
    position: absolute;
    top: 70px;
    margin: 0 auto;
    width: 100%;
  }

  .cardbody {
    height: 136px;
    width: 136px;
    border-radius: 136px;
    text-align: center;
    background: #3296fa;
    box-shadow: 0 4px 12px 0 rgba(5, 105, 254, 0.4),
      inset 0 4px 20px 0 rgba(88, 164, 243, 0.2), inset 0 -16px 30px 0 #0569fe;
    overflow: hidden;
    margin: 116px auto 18px;
    cursor: pointer;

    .clock-btn {
      font-family: PingFangSC-Medium;
      font-size: 20px;
      color: #ffffff;
      letter-spacing: -0.32px;
      line-height: 20px;
      margin-top: 50px;
      margin-bottom: 4px;
    }

    .clock-time {
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #ffffff;
      letter-spacing: -0.26px;
      line-height: 16px;
    }
  }

  .no-clock {
    background: #b2b9c7;
    box-shadow: 0 4px 12px 0 rgba(145, 152, 168, 0.4),
      inset 0 4px 16px 0 rgba(202, 209, 219, 0.2), inset 0 -10px 24px 0 #9198a8;
  }

  .address {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(25, 31, 37, 0.4);
    letter-spacing: -0.6px;
    line-height: 18px;
    padding: 0 20px;
    margin-bottom: 127px;

    .locationIcon {
      width: 16px;
    }

    i {
      margin-right: 8px;
    }

    button {
      background: none;
      border: 0;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #3296fa;
      letter-spacing: -0.6px;
      text-align: center;
      line-height: 18px;
    }
  }

  .van-tabbar {
    height: 50px;
  }
}

/deep/ .van-overlay {
  height: calc(100% - 50px);
  background-color: #f2f2f2 !important;
}

/deep/ .van-popup {
  width: calc(100% - 32px);
  height: calc(100% - 82px) !important;
  margin: 16px 16px 62px 16px;
  box-shadow: 0 2px 4px 0 rgba(221, 221, 221, 0.2);
  border-radius: 12px;
}

/deep/ .van-empty__image {
  width: 180px;
  height: auto;
}

/deep/ .van-empty {
  padding-top: 66px;
}

.popdiv {
  .pop-head {
    padding: 20px 16px 8px 16px;

    .pop-title {
      font-family: PingFangSC-Semibold;
      font-size: 24px;
      color: #191f25;
      letter-spacing: -1px;
      line-height: 24px;
    }

    .pop-close {
      float: right;
      margin-top: 5px;
      color: rgba(25, 31, 37, 0.28);
    }
  }

  .clock-time {
    padding: 0 16px 8px 16px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(25, 31, 37, 0.28);
    letter-spacing: 0;
    line-height: 16px;
  }

  .lookClockInfo {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #3296fa;
    letter-spacing: -0.69px;
    text-align: center;
    line-height: 18px;
    text-align: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
  }
}

.loding {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;

  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-sizing: content-box;
  width: 88px;
  max-width: 70%;
  min-height: 88px;
  padding: 16px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  text-align: center;
  word-break: break-all;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
</style>