<template>
  <div class="loading">
    <van-loading size="36px" vertical>加载中...</van-loading>
  </div>
</template>

<script>
export default {
  props: {},
  data() {
    return {};
  },
  computed: {},
  created() {},
  mounted() {},
};
</script>

<style scoped lang="less">
	.loading {
	  width: 100%;
	  height: 100%;
	  left: 0;
	  top: 0;
	  position: fixed;
	  padding-top: 5.333333rem;
	}
</style>