<template>
	<div class="item">
		<van-tabbar v-model="active" class="active_tab">
			<van-tabbar-item v-for="(item, index) in tabbars" :key="index" @click="tab(index, item.name)">
				<span :class="currIndex == index ? active : ''">{{ item.title }}</span>
				<template slot="icon" slot-scope="props">
					<img :src="props.active ? item.active : item.normal" />
				</template>
			</van-tabbar-item>
		</van-tabbar>
	</div>
</template>

<script>
	export default {
		watch:{
			'$route':function(value,ovalue) {
				if(value.name == 'colckHome') {
					this.active = 1
					this.currIndex = 1
				}
				if(value.name == 'Home') {
					this.active = 0
					this.currIndex = 0
				}
			}
		},
		data() {
			return {
				active: 0,
				currIndex: 0,
				tabbars: [{
						name: "/",
						title: "打卡",
						normal: require("../assets/clock.svg"),
						active: require("../assets/clock-blue1.svg"),
					},
					{
						name: "/colckHome",
						title: "打卡记录",
						normal: require("../assets/clock-info.svg"),
						active: require("../assets/clock-blue.svg"),
					},
					// {
					// 	name: "/no",
					// 	title: "请假/出差",
					// 	normal: require("../assets/evection.svg"),
					// 	active: require("../assets/evection.svg"),
					// }
				],
				
			}
		},
		methods: {
			tab(index, val) {
				if (val == '/no') {
					this.$toast('暂未开放，敬请期待')
					return
				}
				this.currIndex = index;
				this.active = index;
				this.$router.push(val)
			},
		}
	}
</script>

<style lang="less" scoped>
</style>
