<template>
  <div id="app">
    <keep-alive>
      <router-view v-if="$route.meta.keepAlive" />
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive" />
    <tabbar v-if="$route.meta.tabShow"></tabbar>
  </div>
</template>
<script>
import axios from "axios";
import tabbar from "./components/tabbar.vue";
export default {
 
  data() {
    return {
      accToken: "",
      code: "",
    };
  },

  components: {
    tabbar,
  },
  mounted() {
    // document.getElementById("app").style.display = "block";
  },
  beforeUpdate() {
    // document.getElementById("appLoading").style.display = "none";
  },
  created() {
    //this.dingdingAPi()
    //this.getDDConfig()
  },
  methods: {
    
    // 获取ACCESSTOKEN
    // dingaf49ffaaa0b850fa24f2f5cc6abecb85
    dingdingAPi() {
      var self = this;
      let data = {
        appkey: "dingxjynjbkes4uqejq1",
        appsecret:
          "G3ZkShaovEvP7cQMjFyhQyPaNrDzVfuwMA0PY0_j0B2pBeA_7KsVD64Xt0Wfgw2c",
      };
      this.$api
        .getDDtoken(data)
        .then((res) => {
          if (res.errcode == 0) {
            this.accToken = res.access_token;
            this.ddTicket();
          }
        })
        .catch((error) => {
          console.log("接口异常");
        });
    },
    //
    ddTicket() {
      let self = this;
      let data = {
        access_token: this.accToken,
      };
      this.$api.getTicket(data).then((res) => {
        if (res.errcode == 0) {
          console.log(res);
        }
      });
    },

    getUser(authcode) {
      let self = this;
      self.$api
        .getUserInfo({})
        .then((res) => {
          self.$toast("获取用户信息" + JSON.stringify(res));
          if (res.data.code == "200") {
            self.$toast("成功获取用户信息" + JSON.stringify(res.result));
            localStorage.setItem("userInfo", JSON.stringify(res.data.result));
          }
        })
        .catch((err) => {
          alert(JSON.stringify(err));
          self.$toast("获取用户信息失效" + JSON.stringify(err));
        });
    },
  },
};
</script>
<style lang="less">
</style>
